/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    /*header*/
    .logo {
        width: 120px;
    }
    .banner-content-plate h1 {
        font-size: 22px;
        text-align: center;
        line-height: 28px;
    }
    header {
        margin-bottom: 25px;
        padding: 20px 0 20px;
    }
    /*header*/
    /*banner*/
    .banner-content-plate p {
        font-size: 16px;
        text-align: center;
        line-height: 26px;
    }
    .btn-wrapper a {
        font-size: 16px;
        height: 40px;
        width: 120px;
    }
    .banner-btns {
        justify-content: center;
    }
    .case-studies-btn {
        margin-left: 15px;
    }
    .banner-icon-box {
        width: 115px;
        border-radius: 18px;
        height: 75px;
        -webkit-border-radius: 18px;
        -moz-border-radius: 18px;
        -ms-border-radius: 18px;
        -o-border-radius: 18px;
    }
    .banner-icon-box h3 {
        font-size: 12px;
    }
    .banner-icon-box h6{
        font-size: 11px;
    }
    .bib-icon {
        width: 36px;
    }
    .bib-icon img {
        margin-top: -30px;
    }
    .bib-1 {
        top: 35px;
        left: 0;
    }
    .bib-2 {
        right: -5px;
    }
    .bib-3 {
        bottom: 25px;
        left: 0;
        top: auto;
    }
    .banner-content-plate {
        margin-bottom: 35px;
    }
    /*banner*/
    /*partner */
    .partner-brand-heading h2 {
        font-size: 16px;
    }
    section.partner-brand {
        padding: 60px 0;
    }
    .working-with-edge-btn-wrapper h2 {
        font-size: 22px;
        line-height: 35px;
    }
    .working-with-edge-btn-wrapper {
        padding-right: 0;
    }
    #myTab-working-edge li button {
        font-size: 15px;
    }
    #myTab-working-edge li button span {
        width: 28px;
        height: 28px;
        font-size: 12px;
    }
    .we-icon {
        width: 40.62px;
        margin-bottom: 20px;
    }
    div#myTabContent-working-edge .tab-pane h2 {
        font-size: 16px;
        line-height: 30px;
    }
    #tab-working-edge-1, #tab-working-edge-2, #tab-working-edge-3, #tab-working-edge-4, #tab-working-edge-5 {
        padding: 25px 30px 40px;
    }
    .we-author {
        width: 90px;
        margin-right: 15px;
        min-width: 15%;
    }
    .we-author::before {
        width: 40px;
        height: 40px;
    }
    .we-author img {
        width: 30px;
        height: 30px;
    }
    .book-free-consultation-btn {
        font-size: 12px;
        height: 40px;
        width: 100%;
        padding: 0 9px;
    }
    .working-with-edge-wrpper {
        padding: 60px 10px 60px;
    }
    .we-author-info {
        padding-top: 25px;
        margin-top: 50px;
    }
    div#myTabContent-working-edge {
        margin-top: 35px;
    }
    /*partner */
    .service {
        padding: 60px 0 60px;
    }
    .service-heading h2 {
        font-size: 22px;
        line-height: 35px;
    }
    .service-heading h6 {
        font-size: 16px;;
        color: #000;
        margin-top: 10px;
    }
    .service-single-box h2 {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 10px;
    }
    .service-single-box h6 {
        font-size: 16px;
        line-height: 22px;
    }
    .arrow-icon {
        display: none;
    }
    .service-single-box {
        min-height: 510px;
        max-height: 510px;
    }
    .mobile-slider-service .owl-dots .owl-dot {
        background: #1A1A1A;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        opacity: 0.3;
        margin: 0 5px;
    }
    .mobile-slider-service .owl-dots .owl-dot.active {
        opacity: 1;
    }
    .mobile-slider-service .owl-dots {
        left: 50%;
        position: absolute;
        bottom: -60px;
        transform: translateX(-50%);
    }
    section.contact {
        padding: 60px 0 40px;
    }
    .contact-heading h2 {
        font-size: 22px;
        line-height: 30px;
        text-align: left;
    }
    .contact-box-icon {
        padding: 23px;
        width: 80px;
        height: 80px;
    }
    .contact-box-info h2 {
        font-size: 18px;
        line-height: 35px;
    }
    .contact-box-info a {
        color: #000;
        font-size: 14px;
        font-weight: 400;
    }
    .contact-box {
        margin-top: 20px;
    }
    .contact-wrapper {
        padding: 50px 20px 50px;
    }
    section.case-studies {
        padding: 60px 0;
    }
    .case-studies-btn-wrapper h2 {
        font-size: 22px;
        text-align: center;
    }
    ul#myTab-case-studies li button {
        font-size: 16px;
    }
    ul#myTab-case-studies {
        width: 100%;
        display: block;
    }
    ul#myTab-case-studies li button span {
        width: 28px;
        height: 28px;
        font-size: 12px;
    }
    div#myTabContent-case-studies {
        margin-top: 30px;
    }
    #myTabContent-case-studies .tab-pane h2 {
        font-size: 20px;
        line-height: 25px;
    }
    .cs-content {
        font-size: 16px;
        line-height: 24px;
        width: 90%;
    }
    #myTabContent-case-studies .tab-pane ul li {
        padding-bottom: 25px;
        margin-top: 25px;
    }
    #myTabContent-case-studies .tab-pane {
        padding: 30px 30px 20px;
    }
    section.professional-exp {
        padding: 30px 0;
    }
    .professional-exp-btn-wrapper h2 {
        font-size: 22px;
        line-height: 25px;
        text-align: center;
    }
    #myTab-professional-exp li button {
        font-size: 12px;
        border-radius: 12px;
        align-items: center;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
    }
    #myTab-professional-exp li button span {
        width: 25px;
        height: 25px;
        font-size: 11px;
    }
    .professional-exp-btn-wrapper {
        margin-bottom: 30px;
    }
    .pro-exp-tab-content-heading h2 {
        font-size: 18px;
        line-height: 25px;
    }
    .pro-exp-tab-content-heading h3 {
        font-size: 16px;
        line-height: 20px;
    }
    #myTabContent-professional-exp .tab-pane {
        border-radius: 25px;
        padding: 35px 24px 30px;
    }
    .pro-exp-tab-content-footer h2 {
        font-size: 18px;
    }
    .pro-exp-tab-content-footer h6 {
        font-size: 16px;
    }
    section.projects {
        padding: 60px 0;
    }
    .projects-btn-wrapper h2 {
        font-size: 22px;
        text-align: center;
    }
    ul#myTab-projects li button.active {
        background: linear-gradient(78deg, #FD1B73 0%, #FC5E37 100%);
        color: #fff;
        border: 1px solid #FC5E37;
    }
    ul#myTab-projects li button {
        font-size: 15px;
    }
    ul#myTab-projects li button span {
        width: 25px;
        height: 25px;
        font-size: 12px;
    }
    ul#myTab-projects li {
        padding-right: 0;
        margin-top: 17px;
    }
    ul#myTab-skills li {
        margin-top: 17px;
    }
    #myTab-professional-exp li {
        margin-top: 17px;
    }
    .projects-btn-wrapper {
        margin-bottom: 30px;
    }
    .skills {
        padding: 20px 0 10px;
    }
    ul#myTab-skills li button {
        font-size: 15px;
    }
    ul#myTab-skills li button span {
        width: 25px;
        height: 25px;
        font-size: 12px;
    }
    div#myTabContent-skills {
        margin-top: 25px;
    }
    #myTabContent-skills .tab-pane h2 {
        font-size: 16px;
        line-height: 32px;
    }
    div#myTabContent-skills .tab-pane {
        padding: 35px 35px 30px;
    }
    .we-author {
        width: 90px;
        margin-right: 5px;
        min-width: 15%;
    }
    .skill-language h2 {
        font-size: 22px;
        line-height: 28px;
    }
    .skill-box-icon,.contact-box-2-icon {
        width: 70px;
        height: 70px;
        padding: 18px;
    }
    .contact-2-wrapper h2 {
        font-size: 22px;
        line-height: 28px;
    }
    .contact-box-2-info a {
        opacity: 0.6;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
    }
    .skill-proficiencies {
        padding-bottom: 0;
    }
    .service-2-heading h2 {
        font-size: 22px;
        line-height: 40px;
    }
    .service-2-single-box h2 {
        font-size: 20px;
        line-height: 30px;
    }
    .service-2-single-box p {
        font-size: 16px;
        line-height: 26px;
    }
    .service-2-single-box {
        border-radius: 28px;
        min-height: auto;
    }
    section.service-2 {
        padding: 60px 0;
    }
    section.booking-sec {
        padding: 50px 0;
    }
    .booking-content-plate h2 {
        font-size: 22px;
        line-height: 40px;
    }
    .contact-3 .contact-box-info h2 {
        font-size: 18px;
        line-height: 28px;
    }
    .booking-content-plate {
        margin-bottom: 35px;
    }
    .booking-sec-wrapper {
        padding: 60px 20px 20px;
        margin: 0;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
}
    .footer-get-in-touch h2 {
        font-size: 16px;
    }
    .get-in-content a {
        font-size: 16px;
        line-height: 30px;
    }
    .d-f {
        display: flex;
        justify-content: start;
    }
    .f-edge-links {
        margin-top: 30px;
    }
    .f-edge-links h2, .f-social-links h2 {
        font-size: 16px;
        margin-bottom: 20px;
        
    }
    .f-edge-links ul li a {
        font-size: 16px;
    }
    .f-social-links ul li a {
        width: auto;
    }
    .f-social-links {
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .f-logo{
        margin-top: 20px;
        text-align: left;
    }
    .f-copy {
        margin-top: 0;
        text-align: left;
        font-size: 16px;
    }
    .f-policy-links {
        margin-top: 40px;
        text-align: center;
    }
    .f-policy-links ul li a {
        font-size: 15px;
    }
    .psi-2 img {
        width: 55px !important;
        margin: auto;
    }
    .psi-3 {
        width: 50px !important;
        margin: auto;
    }
    .psi-4 {
        width: 78px !important;
        margin: auto;
    }
    .psi-5 {
        width: 46px;
        margin: auto;
    }
    .contact-2-wrapper {
        margin-top: 30px;
        
    }
    .footer-wrapper {
        border-radius: 0;
        margin: 0;
        padding: 60px 20px 40px;
    }
    .f-policy-links ul {
        justify-content: start;
    }
    .footer-get-in-touch ul li:not(:last-child) {
        margin-bottom: 18px;
    }
    .f-edge-links ul li:not(:last-child) {
        margin-bottom: 18px;
    }
    .calendy-cus-design{
        border-radius: 0 !important;
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        -ms-border-radius: 0 !important;
        -o-border-radius: 0 !important;
        height: 540px !important;
    }
    ul#myTab-working-edge li {
        margin-top: 16px;
    }
    .menu li {
        margin: 0;
    }
    .-header-btn {
        margin-top: 15px;
    }
    .menu li a {
        font-size: 18px;
    }
    .get-in-touch-btn {
        font-size: 16px;
        height: 40px;
        width: 120px;
    }
    .calendy-cus-design-2 {
        border-radius: 0 !important;
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        -ms-border-radius: 0 !important;
        -o-border-radius: 0 !important;
        height: 540px !important;
    }
    
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    /*header*/
    .logo {
        width: 120px;
    }
    .banner-content-plate h1 {
        font-size: 22px;
        text-align: center;
        line-height: 28px;
    }
    header {
        margin-bottom: 25px;
        padding: 20px 0 20px;
    }
    /*header*/
    /*banner*/
    .banner-content-plate p {
        font-size: 16px;
        text-align: center;
        line-height: 26px;
    }
    .btn-wrapper a {
        font-size: 16px;
        height: 40px;
        width: 120px;
    }
    .banner-btns {
        justify-content: center;
    }
    .case-studies-btn {
        margin-left: 15px;
    }
    .banner-icon-box {
        width: 115px;
        border-radius: 18px;
        height: 75px;
        -webkit-border-radius: 18px;
        -moz-border-radius: 18px;
        -ms-border-radius: 18px;
        -o-border-radius: 18px;
    }
    .banner-icon-box h3 {
        font-size: 12px;
    }
    .banner-icon-box h6{
        font-size: 11px;
    }
    .bib-icon {
        width: 36px;
    }
    .bib-icon img {
        margin-top: -30px;
    }
    .bib-1 {
        top: 35px;
        left: 0;
    }
    .bib-2 {
        right: -5px;
    }
    .bib-3 {
        bottom: 25px;
        left: 0;
        top: auto;
    }
    .banner-content-plate {
        margin-bottom: 35px;
    }
    /*banner*/
    /*partner */
    .partner-brand-heading h2 {
        font-size: 16px;
    }
    section.partner-brand {
        padding: 60px 0;
    }
    .working-with-edge-btn-wrapper h2 {
        font-size: 22px;
        line-height: 35px;
    }
    .working-with-edge-btn-wrapper {
        padding-right: 0;
    }
    #myTab-working-edge li button {
        font-size: 15px;
    }
    #myTab-working-edge li button span {
        width: 28px;
        height: 28px;
        font-size: 12px;
    }
    .we-icon {
        width: 40.62px;
        margin-bottom: 20px;
    }
    div#myTabContent-working-edge .tab-pane h2 {
        font-size: 16px;
        line-height: 30px;
    }
    #tab-working-edge-1, #tab-working-edge-2, #tab-working-edge-3, #tab-working-edge-4, #tab-working-edge-5 {
        padding: 25px 30px 40px;
    }
    .we-author {
        width: 90px;
        margin-right: 15px;
        min-width: 15%;
    }
    .we-author::before {
        width: 40px;
        height: 40px;
    }
    .we-author img {
        width: 30px;
        height: 30px;
    }
    .book-free-consultation-btn {
        font-size: 12px;
        height: 40px;
        width: 100%;
        padding: 0 9px;
    }
    .working-with-edge-wrpper {
        padding: 60px 10px 60px;
    }
    .we-author-info {
        padding-top: 25px;
        margin-top: 50px;
    }
    div#myTabContent-working-edge {
        margin-top: 35px;
    }
    /*partner */
    .service {
        padding: 60px 0 60px;
    }
    .service-heading h2 {
        font-size: 22px;
        line-height: 35px;
    }
    .service-heading h6 {
        font-size: 16px;;
        color: #000;
        margin-top: 10px;
    }
    .service-single-box h2 {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 10px;
    }
    .service-single-box h6 {
        font-size: 16px;
        line-height: 22px;
    }
    .arrow-icon {
        display: none;
    }
    .service-single-box {
        min-height: 510px;
        max-height: 510px;
    }
    .mobile-slider-service .owl-dots .owl-dot {
        background: #1A1A1A;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        opacity: 0.3;
        margin: 0 5px;
    }
    .mobile-slider-service .owl-dots .owl-dot.active {
        opacity: 1;
    }
    .mobile-slider-service .owl-dots {
        left: 50%;
        position: absolute;
        bottom: -60px;
        transform: translateX(-50%);
    }
    section.contact {
        padding: 60px 0 40px;
    }
    .contact-heading h2 {
        font-size: 22px;
        line-height: 30px;
        text-align: left;
    }
    .contact-box-icon {
        padding: 23px;
        width: 80px;
        height: 80px;
    }
    .contact-box-info h2 {
        font-size: 18px;
        line-height: 35px;
    }
    .contact-box-info a {
        color: #000;
        font-size: 14px;
        font-weight: 400;
    }
    .contact-box {
        margin-top: 20px;
    }
    .contact-wrapper {
        padding: 50px 20px 50px;
    }
    section.case-studies {
        padding: 60px 0;
    }
    .case-studies-btn-wrapper h2 {
        font-size: 22px;
        text-align: center;
    }
    ul#myTab-case-studies li button {
        font-size: 16px;
    }
    ul#myTab-case-studies {
        width: 100%;
        display: block;
    }
    ul#myTab-case-studies li button span {
        width: 28px;
        height: 28px;
        font-size: 12px;
    }
    div#myTabContent-case-studies {
        margin-top: 30px;
    }
    #myTabContent-case-studies .tab-pane h2 {
        font-size: 20px;
        line-height: 25px;
    }
    .cs-content {
        font-size: 16px;
        line-height: 24px;
        width: 90%;
    }
    #myTabContent-case-studies .tab-pane ul li {
        padding-bottom: 25px;
        margin-top: 25px;
    }
    #myTabContent-case-studies .tab-pane {
        padding: 30px 30px 20px;
    }
    section.professional-exp {
        padding: 30px 0;
    }
    .professional-exp-btn-wrapper h2 {
        font-size: 22px;
        line-height: 25px;
        text-align: center;
    }
    #myTab-professional-exp li button {
        font-size: 12px;
        border-radius: 12px;
        align-items: center;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
    }
    #myTab-professional-exp li button span {
        width: 25px;
        height: 25px;
        font-size: 11px;
    }
    .professional-exp-btn-wrapper {
        margin-bottom: 30px;
    }
    .pro-exp-tab-content-heading h2 {
        font-size: 18px;
        line-height: 25px;
    }
    .pro-exp-tab-content-heading h3 {
        font-size: 16px;
        line-height: 20px;
    }
    #myTabContent-professional-exp .tab-pane {
        border-radius: 25px;
        padding: 35px 24px 30px;
    }
    .pro-exp-tab-content-footer h2 {
        font-size: 18px;
    }
    .pro-exp-tab-content-footer h6 {
        font-size: 16px;
    }
    section.projects {
        padding: 60px 0;
    }
    .projects-btn-wrapper h2 {
        font-size: 22px;
        text-align: center;
    }
    ul#myTab-projects li button.active {
        background: linear-gradient(78deg, #FD1B73 0%, #FC5E37 100%);
        color: #fff;
        border: 1px solid #FC5E37;
    }
    ul#myTab-projects li button {
        font-size: 15px;
    }
    ul#myTab-projects li button span {
        width: 25px;
        height: 25px;
        font-size: 12px;
    }
    ul#myTab-projects li {
        padding-right: 0;
        margin-top: 17px;
    }
    ul#myTab-skills li {
        margin-top: 17px;
    }
    #myTab-professional-exp li {
        margin-top: 17px;
    }
    .projects-btn-wrapper {
        margin-bottom: 30px;
    }
    .skills {
        padding: 20px 0 10px;
    }
    ul#myTab-skills li button {
        font-size: 15px;
    }
    ul#myTab-skills li button span {
        width: 25px;
        height: 25px;
        font-size: 12px;
    }
    div#myTabContent-skills {
        margin-top: 25px;
    }
    #myTabContent-skills .tab-pane h2 {
        font-size: 16px;
        line-height: 32px;
    }
    div#myTabContent-skills .tab-pane {
        padding: 35px 35px 30px;
    }
    .we-author {
        width: 90px;
        margin-right: 5px;
        min-width: 15%;
    }
    .skill-language h2 {
        font-size: 22px;
        line-height: 28px;
    }
    .skill-box-icon,.contact-box-2-icon {
        width: 70px;
        height: 70px;
        padding: 18px;
    }
    .contact-2-wrapper h2 {
        font-size: 22px;
        line-height: 28px;
    }
    .contact-box-2-info a {
        opacity: 0.6;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
    }
    .skill-proficiencies {
        padding-bottom: 0;
    }
    .service-2-heading h2 {
        font-size: 22px;
        line-height: 40px;
    }
    .service-2-single-box h2 {
        font-size: 20px;
        line-height: 30px;
    }
    .service-2-single-box p {
        font-size: 16px;
        line-height: 26px;
    }
    .service-2-single-box {
        border-radius: 28px;
        min-height: auto;
    }
    section.service-2 {
        padding: 60px 0;
    }
    section.booking-sec {
        padding: 50px 0;
    }
    .booking-content-plate h2 {
        font-size: 22px;
        line-height: 40px;
    }
    .contact-3 .contact-box-info h2 {
        font-size: 18px;
        line-height: 28px;
    }
    .booking-content-plate {
        margin-bottom: 35px;
    }
    .booking-sec-wrapper {
        padding: 60px 20px 20px;
        margin: 0;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
}
    .footer-get-in-touch h2 {
        font-size: 16px;
    }
    .get-in-content a {
        font-size: 16px;
        line-height: 30px;
    }
    .d-f {
        display: flex;
        justify-content: start;
    }
    .f-edge-links {
        margin-top: 30px;
    }
    .f-edge-links h2, .f-social-links h2 {
        font-size: 16px;
        margin-bottom: 20px;
        
    }
    .f-edge-links ul li a {
        font-size: 16px;
    }
    .f-social-links ul li a {
        width: auto;
    }
    .f-social-links {
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .f-logo{
        margin-top: 20px;
        text-align: left;
    }
    .f-copy {
        margin-top: 0;
        text-align: left;
        font-size: 16px;
    }
    .f-policy-links {
        margin-top: 40px;
        text-align: center;
    }
    .f-policy-links ul li a {
        font-size: 15px;
    }
    .psi-2 img {
        width: 55px !important;
        margin: auto;
    }
    .psi-3 {
        width: 50px !important;
        margin: auto;
    }
    .psi-4 {
        width: 78px !important;
        margin: auto;
    }
    .psi-5 {
        width: 46px;
        margin: auto;
    }
    .contact-2-wrapper {
        margin-top: 30px;
        
    }
    .footer-wrapper {
        border-radius: 0;
        margin: 0;
        padding: 60px 20px 40px;
    }
    .f-policy-links ul {
        justify-content: start;
    }
    .footer-get-in-touch ul li:not(:last-child) {
        margin-bottom: 18px;
    }
    .f-edge-links ul li:not(:last-child) {
        margin-bottom: 18px;
    }
    .calendy-cus-design{
        border-radius: 0 !important;
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        -ms-border-radius: 0 !important;
        -o-border-radius: 0 !important;
        height: 540px !important;
    }
    ul#myTab-working-edge li {
        margin-top: 16px;
    }
    .menu li {
        margin: 0;
    }
    .-header-btn {
        margin-top: 15px;
    }
    .menu li a {
        font-size: 18px;
    }
    .get-in-touch-btn {
        font-size: 16px;
        height: 40px;
        width: 120px;
    }
    .calendy-cus-design-2 {
        border-radius: 0 !important;
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        -ms-border-radius: 0 !important;
        -o-border-radius: 0 !important;
        height: 540px !important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    
    /*header*/
    .logo {
        width: 120px;
    }
    .banner-content-plate h1 {
        font-size: 22px;
        text-align: center;
        line-height: 28px;
    }
    header {
        margin-bottom: 25px;
        padding: 20px 0 20px;
    }
    .menu li {
        margin: 0;
    }
    /*header*/
    /*banner*/
    .banner-content-plate p {
        font-size: 16px;
        text-align: center;
        line-height: 26px;
    }
    .btn-wrapper a {
        font-size: 16px;
        height: 40px;
        width: 120px;
    }
    .banner-btns {
        justify-content: center;
    }
    .case-studies-btn {
        margin-left: 15px;
    }
    .banner-icon-box {
        width: 115px;
        border-radius: 18px;
        height: 75px;
        -webkit-border-radius: 18px;
        -moz-border-radius: 18px;
        -ms-border-radius: 18px;
        -o-border-radius: 18px;
    }
    .banner-icon-box h3 {
        font-size: 12px;
    }
    .banner-icon-box h6{
        font-size: 11px;
    }
    .bib-icon {
        width: 36px;
    }
    .bib-icon img {
        margin-top: -30px;
    }
    .bib-1 {
        top: 35px;
        left: 0;
    }
    .bib-2 {
        right: -5px;
    }
    .bib-3 {
        bottom: 25px;
        left: 0;
        top: auto;
    }
    .banner-content-plate {
        margin-bottom: 35px;
    }
    /*banner*/
    /*partner */
    .partner-brand-heading h2 {
        font-size: 16px;
    }
    section.partner-brand {
        padding: 60px 0;
    }
    .working-with-edge-btn-wrapper h2 {
        font-size: 22px;
        line-height: 35px;
    }
    .working-with-edge-btn-wrapper {
        padding-right: 0;
    }
    #myTab-working-edge li button {
        font-size: 15px;
    }
    #myTab-working-edge li button span {
        width: 28px;
        height: 28px;
        font-size: 12px;
    }
    .we-icon {
        width: 40.62px;
        margin-bottom: 20px;
    }
    div#myTabContent-working-edge .tab-pane h2 {
        font-size: 16px;
        line-height: 30px;
    }
    #tab-working-edge-1, #tab-working-edge-2, #tab-working-edge-3, #tab-working-edge-4, #tab-working-edge-5 {
        padding: 25px 30px 40px;
    }
    .we-author {
        width: 90px;
        margin-right: 15px;
        min-width: 15%;
    }
    .we-author::before {
        width: 40px;
        height: 40px;
    }
    .we-author img {
        width: 30px;
        height: 30px;
    }
    .book-free-consultation-btn {
        font-size: 12px;
        height: 40px;
        width: 100%;
        padding: 0 9px;
    }
    .working-with-edge-wrpper {
        padding: 60px 10px 60px;
    }
    .we-author-info {
        padding-top: 25px;
        margin-top: 50px;
    }
    div#myTabContent-working-edge {
        margin-top: 35px;
    }
    /*partner */
    .service {
        padding: 60px 0 60px;
    }
    .service-heading h2 {
        font-size: 22px;
        line-height: 35px;
    }
    .service-heading h6 {
        font-size: 16px;;
        color: #000;
        margin-top: 10px;
    }
    .service-single-box h2 {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 10px;
    }
    .service-single-box h6 {
        font-size: 16px;
        line-height: 22px;
    }
    .arrow-icon {
        display: none;
    }
    .service-single-box {
        min-height: 510px;
        max-height: 510px;
    }
    .mobile-slider-service .owl-dots .owl-dot {
        background: #1A1A1A;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        opacity: 0.3;
        margin: 0 5px;
    }
    .mobile-slider-service .owl-dots .owl-dot.active {
        opacity: 1;
    }
    .mobile-slider-service .owl-dots {
        left: 50%;
        position: absolute;
        bottom: -60px;
        transform: translateX(-50%);
    }
    section.contact {
        padding: 60px 0;
    }
    .contact-heading h2 {
        font-size: 22px;
        line-height: 30px;
        text-align: left;
    }
    .contact-box-icon {
        padding: 23px;
        width: 80px;
        height: 80px;
    }
    .contact-box-info h2 {
        font-size: 18px;
        line-height: 35px;
    }
    .contact-box-info a {
        color: #000;
        font-size: 14px;
        font-weight: 400;
    }
    .contact-box {
        margin-top: 20px;
    }
    .contact-wrapper {
        padding: 50px 20px 50px;
    }
    section.case-studies {
        padding: 60px 0;
    }
    .case-studies-btn-wrapper h2 {
        font-size: 22px;
        text-align: center;
    }
    ul#myTab-case-studies li button {
        font-size: 16px;
    }
    ul#myTab-case-studies {
        width: 100%;
        display: block;
    }
    ul#myTab-case-studies li button span {
        width: 28px;
        height: 28px;
        font-size: 12px;
    }
    div#myTabContent-case-studies {
        margin-top: 30px;
    }
    #myTabContent-case-studies .tab-pane h2 {
        font-size: 20px;
        line-height: 25px;
    }
    .cs-content {
        font-size: 16px;
        line-height: 24px;
        width: 90%;
    }
    #myTabContent-case-studies .tab-pane ul li {
        padding-bottom: 25px;
        margin-top: 25px;
    }
    #myTabContent-case-studies .tab-pane {
        padding: 30px 30px 20px;
    }
    section.professional-exp {
        padding: 30px 0;
    }
    .professional-exp-btn-wrapper h2 {
        font-size: 22px;
        line-height: 25px;
        text-align: center;
    }
    #myTab-professional-exp li button {
        font-size: 12px;
        border-radius: 12px;
        align-items: center;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
    }
    #myTab-professional-exp li button span {
        width: 25px;
        height: 25px;
        font-size: 11px;
    }
    .professional-exp-btn-wrapper {
        margin-bottom: 30px;
    }
    .pro-exp-tab-content-heading h2 {
        font-size: 18px;
        line-height: 25px;
    }
    .pro-exp-tab-content-heading h3 {
        font-size: 16px;
        line-height: 20px;
    }
    #myTabContent-professional-exp .tab-pane {
        border-radius: 25px;
        padding: 35px 24px 30px;
    }
    .pro-exp-tab-content-footer h2 {
        font-size: 18px;
    }
    .pro-exp-tab-content-footer h6 {
        font-size: 16px;
    }
    section.projects {
        padding: 60px 0;
    }
    .projects-btn-wrapper h2 {
        font-size: 22px;
        text-align: center;
    }
    ul#myTab-projects li button.active {
        background: linear-gradient(78deg, #FD1B73 0%, #FC5E37 100%);
        color: #fff;
        border: 1px solid #FC5E37;
    }
    ul#myTab-projects li button {
        font-size: 15px;
    }
    ul#myTab-projects li button span {
        width: 25px;
        height: 25px;
        font-size: 12px;
    }
    ul#myTab-projects li {
        padding-right: 0;
    }
    .projects-btn-wrapper {
        margin-bottom: 30px;
    }
    .skills {
        padding: 20px 0 10px;
    }
    ul#myTab-skills li button {
        font-size: 15px;
    }
    ul#myTab-skills li button span {
        width: 25px;
        height: 25px;
        font-size: 12px;
    }
    div#myTabContent-skills {
        margin-top: 25px;
    }
    #myTabContent-skills .tab-pane h2 {
        font-size: 16px;
        line-height: 32px;
    }
    div#myTabContent-skills .tab-pane {
        padding: 35px 35px 30px;
    }
    .we-author {
        width: 90px;
        margin-right: 5px;
        min-width: 15%;
    }
    .skill-language h2 {
        font-size: 22px;
        line-height: 28px;
    }
    .skill-box-icon,.contact-box-2-icon {
        width: 70px;
        height: 70px;
        padding: 18px;
    }
    .contact-2-wrapper h2 {
        font-size: 22px;
        line-height: 28px;
    }
    .contact-box-2-info a {
        opacity: 0.6;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
    }
    .skill-proficiencies {
        padding-bottom: 0;
    }
    .service-2-heading h2 {
        font-size: 22px;
        line-height: 40px;
    }
    .service-2-single-box h2 {
        font-size: 20px;
        line-height: 30px;
    }
    .service-2-single-box p {
        font-size: 16px;
        line-height: 26px;
    }
    .service-2-single-box {
        border-radius: 28px;
        min-height: auto;
    }
    section.service-2 {
        padding: 60px 0;
    }
    section.booking-sec {
        padding: 50px 0;
    }
    .booking-content-plate h2 {
        font-size: 22px;
        line-height: 40px;
    }
    .contact-3 .contact-box-info h2 {
        font-size: 18px;
        line-height: 28px;
    }
    .booking-content-plate {
        margin-bottom: 35px;
    }
    .booking-sec-wrapper {
        padding: 90px 20px 20px;
    }
    .footer-get-in-touch h2 {
        font-size: 16px;
    }
    .get-in-content a {
        font-size: 18px;
        line-height: 30px
    }
    .d-f {
        display: flex;
        justify-content: start;
    }
    .f-edge-links {
        margin-top: 30px;
    }
    .f-edge-links h2, .f-social-links h2 {
        font-size: 16px;
        
    }
    .f-edge-links ul li a {
        font-size: 16px;
    }
    .f-social-links ul li a {
        width: 42px;
    }
    .f-social-links {
        margin-top: 30px;
    }
    .f-logo{
        margin-top: 20px;
    }
    .f-copy {
        margin-top: 40px;
        text-align: center;
        font-size: 16px;
    }
    .f-policy-links {
        margin-top: 40px;
        text-align: center;
    }
    .f-policy-links ul li a {
        font-size: 15px;
    }
    .skill-language {
        margin-bottom: 30px;
    }
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .logo {
        width: 140px;
    }
    .menu li a {
        font-size: 16px;
    }
    .get-in-touch-btn {
        font-size: 18px;
    }
    .banner-content-plate h1 {
    font-size: 45px;
    }
    .banner-icon-box {
        width: 210px;
    }
    .bib-icon {
        width: 60px;
        margin: auto;
    }
    .bib-1 {
        top: 55px;
        left: -18px;
    }
    .bib-2 {
        right: 0;
    }
    .working-with-edge-btn-wrapper h2 {
        font-size: 45px;
        line-height: 55px;
    }
    #myTab-working-edge li button {
        font-size: 18px;
    }
    div#myTabContent-working-edge .tab-pane h2 {
        font-size: 20px;
        line-height: 40px;
    }
    .we-author-info {
        margin-top: 50px;
    }
    .book-free-consultation-btn {
        font-size: 16px;
        width: 212px;
    }
    .service-heading h2 {
        font-size: 45px;
    }
    .service-single-box h2 {
        font-size: 25px;
        line-height: 35px;
    }
    .service-single-box h6 {
        font-size: 18px;
    }
    .service-single-box {
        min-height: 600px;
        max-height: 600px;
    }
    .contact-heading h2 {
        font-size: 45px;
        line-height: 60px;
    }
    .contact-box-info h2 {
        font-size: 17px;
        line-height: 28px;
    }
    .contact-box-info a {
        font-size: 15px;
    }
    #myTabContent-case-studies .tab-pane h2 {
        font-size: 35px;
        line-height: 34px;
    }
    ul#myTab-case-studies li button {
        font-size: 18px;
    }
    ul#myTab-case-studies {
        border: none;
        display: block;
    }
    .professional-exp-btn-wrapper h2 {
        font-size: 45px;
        line-height: 60px;
    }
    #myTab-professional-exp li button {
        font-size: 18px;
    }
    ul#myTab-projects li button {
        font-size: 18px;
    }
    ul#myTab-skills li button {
        font-size: 18px;
    }
    #myTabContent-skills .tab-pane h2 {
        font-size: 22px;
        line-height: 52px;
    }
    .skill-language h2,.contact-2-wrapper h2 {
        font-size: 45px;
    }
    .skill-box-info h2 {
        font-size: 20px;
    }
    .contact-box-2-info h2 {
        color: #fff;
        font-size: 18px;
        line-height: 24px;
    }
    .skill-box-icon,.contact-box-2-icon {
        width: 65px;
        padding: 20px;
        height: 65px;
    }
            .contact-box-2 {
            display: block;
        }
        .contact-box-2-info {
            margin-left: 0;
        }
        .contact-box-2-info {
            margin-left: 0;
            margin-top: 23px;
        }
        .service-2-heading h2 {
            font-size: 45px;
            line-height: 60px;
        }
        .service-2-single-box h2 {
            font-size: 22px;
            line-height: 32px;
        }
        .service-2-single-box p {
            font-size: 16px;
            line-height: 28px;
        }
        .booking-content-plate h2 {
            font-size: 45px;
            line-height: 50px;
        }
        .f-edge-links h2, .f-social-links h2 {
            font-size: 16px;
        }
        .f-edge-links ul li a {
            font-size: 16px;
        }
        .get-in-content a {
            font-size: 16px;
            line-height: 30px;
        }
        .f-social-links ul li a img {
            width: 40px;
        }
        .f-social-links ul li a {
            width: auto;
        }
        .f-policy-links ul li a {
            font-size: 16px;
        }
        .f-copy {
            font-size: 16px;
        }
        
}

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    .logo {
        width: 145px;
    }
    .menu li a {
        font-size: 18px;
    }
    .bib-2 {
        right: -6px;
    }
    ul#myTab-case-studies {
        border: none;
        display: block;
    }
    #myTab-professional-exp li button {
        font-size: 20px;
    }
    .skill-box-icon ,.contact-box-2-icon,.contact-box-icon{
        width: 55px;
        height: 55px;
        padding: 15px;
        border-radius: 15px;
    }
    .contact-box-info {
        margin-left: 17px;
    }
    .contact-box-2-info h2 {
        font-size: 20px;
        line-height: 34px;
    }
    .service-2-single-box p {
        font-size: 16px;
        line-height: 30px;
    }
    .service-2-single-box h2 {
        font-size: 25px;
        line-height: 35px;
        margin-bottom: 25px;
    }
    .contact-box-info h2 {
        font-size: 24px;
        line-height: 35px;
    }
    .contact-box-info a {
        font-size: 18px;
    }
    .contact-box-info a {
        font-size: 16px;
    }
    .contact-box-info h2 {
        font-size: 20px;
        line-height: 35px;
    }
    .f-copy ,.f-policy-links ul li a{
        font-size: 18px;
    }
}
 /* Extra large devices (large desktops, 1200px and up) */
 @media (min-width: 1400px) {
}